* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background: #E1FF8F;
  background-image: url(./img/Star2.png), url(./img/Star3.png), url(./img/Star4.png), url(./img/Star5.png), url(./img/Star_big.png);
  background-position: 63px 94px, 156px 69px, 1013px 568px, 948px 538px, 854px -333px;
  background-repeat: no-repeat;
}

.top__heading {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  max-width: 768px;
  padding-top: 196px;
  margin-bottom: 24px;
}

.top__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 720px;
  margin-bottom: 48px;
}

.top__bold {
  font-weight: 600;
}

.top__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 65px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  font-family: inherit;
  cursor: url("./img/cursor.png"), pointer;
  transition: all 1s;
  text-decoration: none;
}

.top__button:hover {
  background: #ffffff;
  color: #000000;
}

.animated-strip {
  display: flex;
  gap: 51px;
  height: 90px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  padding: 27px 0;
  overflow: hidden;
}

.animated-strip__item {
  display: flex;
  gap: 51px;
  flex-shrink: 0;
}

.animated-strip__text {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.content-box {
  background: #202027;
  background-image: url(./img/Star11.png), url(./img/Star12.png), url(./img/Star1.png);
  background-position: 25px 770px, 40px 822px, 933px 77px;
  background-repeat: no-repeat;
}

.content-box__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 94px;
  padding-bottom: 24px;
}

.content-box__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 72px;
  max-width: 700px;
}

.content-box__name {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 32px;
}

.content-box__game-one {
  width: 378px;
  height: 473px;
  background: #ffffff;
  border-radius: 30px;
  cursor: url("./img/cursor.png"), pointer;
  text-decoration: none;
  z-index: 40;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
}

.content-box__game-one:hover {
  transform: scale(1.1);
}

.content-box__game-two {
  width: 378px;
  height: 512px;
  background: #ffffff;
  border-radius: 30px;
  cursor: url("./img/cursor.png"), pointer;
  text-decoration: none;
  z-index: 40;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
}

.content-box__game-two:hover {
  transform: scale(1.1);
}

.content-box__game-three {
  width: 378px;
  height: 551px;
  background: #ffffff;
  border-radius: 30px;
  text-decoration: none;
  cursor: url("./img/cursor.png"), pointer;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
}

.content-box__game-three:hover {
  transform: scale(1.1);
}

.content-box__img {
  height: 314px;
}

.content-box__description {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  margin-top: 32px;
  margin-left: 32px;
  width: 314px;
}

.content-box__product {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

.content-box__number {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.content-box__number_border {
  width: 108px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}/*# sourceMappingURL=style.css.map */